html, body {
    height: 100%;
    margin: 0;
    background-color: #444;
}

h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Micro 5';
}

#loading {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingContainer {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

#title {
    color: white;
    text-align: left;
    padding: 20px 20px 0 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: "Micro 5";
    position: fixed;
    bottom: 20px;
    left: 0;
    background-color: transparent;
}

#title:hover {
    color: coral;
}

a {
    text-decoration: none;
    color: inherit;
}

#root { 
    display: flex;
    flex-direction: column;
    height: 100%;
}

* {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

textarea {
    width: 40%;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
}

button {
    font-weight: 400;
    padding: 10px;
    margin: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    background-color: dodgerblue;
    color: white;
}

button.locked {
    background-color: coral;
}

button.unlocked {
    background-color: white;
    color: black;
}

button:hover {
    border-color: white;
    cursor: pointer;
}

svg {
    cursor: pointer;
}

svg:active {
    cursor: grabbing;
}

svg .textMap {
    fill: white;
    font-weight: 500;

}

svg .textBasemap {
    fill: grey;
    font-weight: 100;

}

svg text:hover {
    fill: coral;
}

#label-mapLevel-map {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 10px 0 0 10px;
}

#label-mapLevel-basemap {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 10px 10px 0;
}

#label-reducer-pca {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 10px 0 0 10px;
}

#label-reducer-umap {
    /* top-left | top-right | bottom-right | bottom-left */
    border-radius: 0 10px 10px 0;
}

.radio-switch input[type="radio"] {
    display: none; /* Hide the default radio button */
    }

.radio-switch label {
    font-weight: 400;
    background-color: transparent; 
    color: white; 
    padding: 20px 20px;
    border: 2px solid black; 
    cursor: pointer;
    transition: background-color 0.3s; 
  }
  
.radio-switch input[type="radio"]:checked + label {
    background-color: coral; 
   
  }

select {
    font-weight: 400;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    border-radius: 10px; 
    font-size: 16px; 
    background-color: white; 
    color: black; 
    cursor: pointer; 
    width: 20%; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path fill="%23000" d="M2048 640v128h-2048v-128h2048zm0 640v128h-2048v-128h2048z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px; 
}

select:hover {
    border-color: white; 
    background-color: dodgerblue; 
    color: white; 
}

.basemap-toggle-label {
    display: flex; 
    align-items: center; 
    margin: 2px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 100;
    color: gainsboro;
    padding: 2px; 
    transition: background-color 0.3s;
}

.basemap-toggle-checkbox {
    margin-right: 10px; 
}

.basemap-toggle-container {
    background-color: transparent; 
    padding: 10px;
    border-radius: 10px;
    display: flex; 
    flex-direction: column;
    align-items: flex-start; 
    position: absolute; 
    left: 10px; 
    top: 50%; 
    transform: translateY(-50%);
}

#randomWords {
    position: absolute;
    top: 8%;
    left: 2%;
    color: black;
    border: 2px solid black;
    background-color: white;
}

#clearButtons {
    position: absolute;
    bottom: 33%;
    left: 10px;
}

#clearButtons button {
    font-size: 10px;
    margin: 2px;
    padding: 6px;
    color: black;
    border: 1px solid black;
    background-color: white;
}

#clearButtons button:hover {
    border-color: white;
}

#meterContainer {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center; /* Optional, if you want vertical centering */
  }

.meter {
    margin: 20px;
}

.meter > p {
    font-size: 24px;
    font-weight: 400;
    background-color: transparent;
    color: white;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  .fade-in {
    animation: fadeIn 1s ease-out;
  }




