* {
    font-family: "Roboto Condensed", sans-serif;
    font-weight: 300;
    font-size: 16px;
}

html, body {
    background-color: #222;
}

a {
    text-decoration: none;
    color: inherit;
}

h2 {
    color: white;
    text-align: center;
    padding: 20px;
    font-size: 48px;
    font-weight: 400;
    font-family: 'Micro 5';
}

button {
    font-weight: 400;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    background-color: transparent;
    color: white;
}

button:hover {
    border-color: white;
    cursor: pointer;
}

button.locked {
    background-color: coral;
}

button.unlocked {
    background-color: transparent;
}

svg {
    cursor: pointer;
}

svg:active {
    cursor: grabbing;
}

svg .textMap {
    fill: white;
    font-weight: 500;

}

svg .textBasemap {
    fill: grey;
    font-weight: 100;

}

svg text:hover {
    fill: coral;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }

/*----------*/

#loading {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#loadingContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}

/*----------*/

#reset-zoom {
    position: fixed;
    top: 20vh;
    left: 50vw;
    z-index: 2;

}

#svg-canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#map-controls {
    position: relative;
    z-index: 2;
}

#input-group {
    position: fixed;
    margin: 0;
    top: 2vh;
    left: 2vw;
    display: flex;
    flex-direction: row;
    gap: 0.5vh;
}

#text-input {
    margin: 0;
}

textarea {
    width: 28vw;
    height: 8vh;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    font-size: 16px;
    color: white;
    background-color: transparent;
}

textarea:focus {
    outline: none;
}

#add-group {
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

#randomWords {
    
}

#mapLevel-group {
    display: flex;
    flex-direction: column;
    gap: 0.5vh;
}

#mapLevel {
    margin: 0;
    display: flex;
    flex-direction: row;
}

.radio-switch {
    display: flex;
    flex-direction: column;
}

.radio-switch input[type="radio"] {
    display: none;
}

.radio-switch label {
    font-weight: 400;
    background-color: transparent;
    color: white;
    padding: 10px;
    border: 2px solid black;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 0;
    text-align: center;
}

.radio-switch input[type="radio"]:checked + label {
    background-color: coral;
}

/* top-left | top-right | bottom-right | bottom-left */
#label-mapLevel-map {
    border-radius: 10px 0 0 10px;
}

#label-mapLevel-base {
    border-radius: 0 10px 10px 0;
}

#clearButton {
}

#model-group {
    position: fixed;
    margin: 0;
    top: 2vh;
    right: 2vw;
}

#model-menu {
    width: 20vw;
}

select {
    font-weight: 400;
    padding: 10px; 
    margin: 10px; 
    border: 2px solid black; 
    border-radius: 10px; 
    font-size: 16px; 
    background-color: transparent; 
    color: white; 
    cursor: pointer; 
    -webkit-appearance: none; 
    -moz-appearance: none; 
    appearance: none; 
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2048 2048"><path fill="white" d="M2048 640v128h-2048v-128h2048zm0 640v128h-2048v-128h2048z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center; 
    background-size: 12px; 
}

select:focus {
    outline: none;

}

#choose-reducer {
    position: fixed;
    margin: 0;
    top: 20vh;
    right: 2vw;
}

#label-choose-reducer-pca {
    border-radius: 10px 10px 0 0;
    padding: 15px;
}

#label-choose-reducer-proj {
    border-radius: 0 0 0 0;
    padding: 15px;
}

#label-choose-reducer-nn {
    border-radius: 0 0 0 0;
    padding: 15px;
}

#label-choose-reducer-path {
    border-radius: 0 0 10px 10px;
    padding: 15px;
}

#loadingInsetContainer {
    position: fixed;
    top: 8vh;
    left: 40vw;
}

#loadingInset {
    font-family: "Micro 5";
    font-size: 24px;
    color: white;
}

#basemap-toggle-container {
    background-color: transparent;
    padding: 10px;
    border-radius: 10px;
    position: fixed;
    top: 20vh;
    left: 0;
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
}

#basemap-toggle-container.open {
    transform: translateX(0);
}

.toggle-button {
    position: absolute;
    top: 50%;
    right: -24px;
    transform: translateY(-50%) rotate(0deg);
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
    z-index: 2;
    color: white;
    font-size: 24px;
}

.toggle-button.open {
    transform: translateY(-50%) rotate(180deg);
}

.toggle-button:hover {
    color: coral;
}

.basemap-toggle-label {
    display: flex; 
    align-items: center; 
    margin: 2px; 
    cursor: pointer;
    font-size: 16px;
    font-weight: 200;
    color: gainsboro;
    padding: 2px; 
}

.basemap-toggle-checkbox {
    margin-right: 10px; 
}

#spreadMeter {
    position: fixed;
    bottom: 2vh;
    left: 46vw;
    background-color: transparent;
    border: 2px dotted transparent;
    transition: border-color 0.75s;
    border-radius: 10px;
    padding: 15px;
}

#spreadMeter:hover {
    border: 2px dotted coral;
    transition: border-color 0.75s;
    cursor: pointer;
}

.meter > p {
    font-size: 24px;
    font-weight: 400;
    background-color: transparent;
    color: white;
}

#title {
    z-index: 2;
    color: white;
    text-align: left;
    padding: 20px 20px 0 20px;
    font-size: 40px;
    font-weight: 400;
    font-family: "Micro 5";
    position: fixed;
    bottom: 2vh;
    left: 0;
    background-color: transparent;
}

#title:hover {
    color: coral;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
.fade-in {
animation: fadeIn 1s ease-out;
}

